<div class='single-post'>
  <article><blockquote class='blockquote'>
    <div class='text-in-post'>
      <div class='row'>
        <div class='col-md-6'>
          <h4><a href="{{this.url}}">{{this.title}}</a></h4>
        </div>
        <div class='col-md-4'>
          <h5>({{this.view_counter}} views - {{this.comments.count}} comments)</h5>
        </div>
        <div class='col-md-2'>
          <h5>({{this.time_to_s}})</h5>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          {{this.body_summary}}
        </div>
      </div>
      <div class='row'>
        <div class='col-md-8'>
        </div>
        <div class='col-md-4'>
          <footer><a href="{{this.user_url}}">{{this.username}}</a></footer>
        </div>
      </div>
    </div>
  </blockquote>
  </article>
</div>


