<div class='single-post'>
  <article><blockquote class='blockquote'>
  <a href="{{this.url}}">{{this.title}}</a>  - Views: {{this.view_counter}}
  <ul class='list-unstyled'>{{this.body}}</ul>
  <footer>{{this.user}}</footer>
  </blockquote>
  </article>
</div>
