<div class='container'>
  <div class='row'>
    <div class='col-md-12 top-image'>
      <div class='background-image'></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      <img style='height: 100%' class='profile-pic' src=<%= current_user.profile_url %> />
      <div class='new-post'>
        <%= link_to 'New Post', new_user_post_path(current_user), class: 'outline-button' %>
      </div>
    </div>
    <div class='col-md-7'>
      <div id='blog-title'>
        <h1 id='title'>Is It Just Me, Or...</h1>
      </div>
      <div class='panel panel-default'>
        <% current_user.posts.each do |post| %>
          <div class='post' id=<%=post.id%>>
            <h4><%= link_to post.title, post_path(post), class: 'post-title' %></h4>
            <div class='body-text'>
              <p><%= post.body %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
