<br>
<br>



<div class="container">
  <div class="status"></div>
    <div class="row"></div>
      <div class="row"></div>

  <div class="row" id="post">
    <div class="row">
      <div id="new-post-form">
        <%= form_for(@post) do |f| %>
          <%= f.text_field :title,
                            input_html: {class: ""},
                            placeholder: "title", class: "title-input-field" %>
          <%= f.hidden_field :body %>

          <div class="post-body editable" id="editor" contentEditable='true'></div>

          <%= f.submit %>
        <% end %>

      </div>
    </div>
  </div>
</div>




<br><br><br>

<%= link_to 'Back', posts_path %>
