<div class="container">
  <%= render 'photo_header' %>

  <div class="post-container" >
    <div class="status"></div>
    <div id="new-post-form">
      <%= form_for @post, html: { multipart: true } do |f| %>
        <%= f.text_area :title,
                        placeholder: "title", class: "title-input-field" %>

        <%= f.hidden_field :body %>

        <div class="post-body editable" id="editor" contentEditable='true' data-placeholder='Is it just me, or...'></div>

        <%= f.select :category_id, @category_options.sort, { :prompt => "Select a category" } , { class: "dropdown-select" } %>

        <hr>

        <div class="field">
          <%= f.label :image %><br />
          <%= f.file_field :image %>
        </div>

        <hr>

        <%= f.submit 'Create new post', class: "outline-button" %>
      <% end %>

    </div>
  </div>

</div>


<%= link_to 'Back', user_posts_path(current_user) %>
