<br>
<br>

<div class="container">
  <div class="status"></div>
    <div class="row"></div>
      <div class="row"></div>

 <div class="row" id="post">
    <div class="row">
      <div class="title-input-field">
        <%= @post.title %>
      </div>
      <div class="post-body">
        <%= @post.body.html_safe %>
      </div>




    </div>
  </div>
</div>


<% if @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>


<%= link_to 'Back', posts_path %>

<%= render 'comments/form' %>
