<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>


<% @post.comments.each do |comment| %>
  <div><%= comment.body %> <b>posted by</b> <%= comment.user_email %></div>
<% end %>


<% if @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<%= link_to 'Back', posts_path %>

<%= render 'comments/form' %>
