<div class="container">
<%= render 'photo_header' %>

  <div class="post-container" >

    <% if @post.user == current_user %>
    <%= render 'settings' %>
    <!-- <img src="http://i.imgur.com/pmnMgqX.png" class="settings"> -->
    <% end %>

    <div class="status"></div>

    <div class="title-input-field">
      <%= @post.title %>
    </div>
    <div class="post-body">
      <%= @post.body.html_safe %>
    </div>


  <div class="well">

    <% @post.comments.each do |comment| %>
      <div><%= comment.body %> <small class='small-text'> posted by </small><%= comment.first_name %></div>
    <% end %>

  </div>




  <div class="comments-container">
    <%= render 'comments/form' %>
  </div>

  <div class="post-buttons">

    <%= link_to '< Back', user_posts_path(current_user), class: "outline-button", role: "button"  %>

    <% if @post.user == current_user %>
      <%= link_to 'Edit this post', edit_post_path(@post), class: "outline-button" %>
    <% end %>

    <% if @post.user == current_user %>
      <%= link_to 'Delete this post', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "outline-button" %>
    <% end %>



  </div>



</div>
