<p id="notice"><%= notice %></p>

<p>
  <%= @category.name %>
</p>
  <% @posts.each do |post| %>
    <div class='post-summary'>
      <%= post.title %>
      <%= post.body %>
      <!-- post.user -->
    </div>
  <% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
