<!DOCTYPE html>
<html>
<head>
  <title>Wdi8Blogapp</title>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script type="text/javascript" src="//use.typekit.net/yqt5rux.js"></script>
<script src="//cdn.jsdelivr.net/headroomjs/0.5.0/headroom.min.js"></script>
<script src="//cdn.jsdelivr.net/headroomjs/0.5.0/angular.headroom.min.js"></script>
<script src="//cdn.jsdelivr.net/headroomjs/0.5.0/jQuery.headroom.min.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>

<%= auto_discovery_link_tag(:rss, feed_url) %>


<!-- http://stackoverflow.com/questions/7131909/facebook-callback-appends-to-return-url -->
<!-- Callback temporary fix -->
<script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        window.location.hash = '';
    }
</script>



</head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class='app-messages'>
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <%= content_tag :div, msg, class: "flash_#{name}" %>
        <% end %>
      <% end %>
    </div>
    <div class='container'>
      <div class='navbar-collapse navbar-inverse navbar-fixed-top'>
          <% if user_signed_in? %>
            <ul class='nav navbar-nav pull-left'>
              <li><%= link_to "IIJMO", root_path %></li>
              <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path %></li>
            </ul>
            <div>
              <div class="mini-profile-pic-container"><img class='mini-profile-pic' src=<%= current_user.profile_url %> /></div>
            </div>
            <ul class='nav navbar-nav pull-right'>
              <li><%= link_to 'New Post', new_user_post_path(current_user)%></li>
              <li><%= link_to current_user.first_name, user_posts_path(current_user, class: 'user-name')%></li>
            </ul>
          <% else %>
            <ul class='nav navbar-nav pull-left'>
              <li><%= link_to "IIJMO", root_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            </ul>
          <% end %>
        </ul>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
