<!DOCTYPE html>
<html>
<head>
  <title>Wdi8Blogapp</title>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script type="text/javascript" src="//use.typekit.net/yqt5rux.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>

<%= auto_discovery_link_tag(:rss, feed_url) %>
</head>
  <body>
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <%= content_tag :div, msg, :class => "flash_#{name}" %>
      <% end %>
    <% end %>

    <div class='container'>
      <nav class="navbar navbar-inverse" role="navigation">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.username %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path %>
          <%= link_to "Logout", destroy_user_session_path %>
          <%= link_to "My Blog", user_posts_path(current_user) %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %>
          <%= link_to "Login", new_user_session_path %>
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-default", role: "button"  %>
        <% end %>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
